<div class="row">
  <div class="col-md-4">
    <h3>Select files</h3>
    <div appNgDropFiles 
         (mouseOver)="isOverDrop = $event"
         [ngClass]="{'file-over': isOverDrop}" 
         [files]="files"
         class="well drop-zone">
      <h4>Files here</h4>
      <img src="assets/drop-images.png">
    </div>
  </div>

  <div class="col-md-8">
    <h4>Upload files</h4>
    <button (click)="uploadImage()" class="btn btn-success" [disabled]="files.length == 0">Upload to firebase</button>
    <button (click)="clearFiles()" class="btn btn-danger">Clear</button>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>FileName </th>
          <th>Size </th>
          <th>Progress </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td [ngClass]="{'text-green': !file.isUploading}" >{{ file.fileName }}</td>
          <td>{{ file.file.size/1024/1024 | number: '.2-2' }} MB</td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width': file.progress + '%'}" ></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>